
<div *ngIf="loading" class="loading">
  <nz-spin nzSimple nzSize="large"></nz-spin>
</div>
<nz-layout class="main" *ngIf="!loading">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo" (click)="clickLogo()">
      <img src="../../../assets/logo.jpg">
      <span>童角健康站</span>
      
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-submenu nzTitle="幼儿园" nzIcon="home" nzOpen>
        <ul>
          <li nz-menu-item nzMatchRouter *ngIf="self.role === 'manager'">
            <a routerLink="/classes">班级</a>
          </li>
          <li nz-menu-item nzMatchRouter *ngIf="self.role === 'manager'">
            <a routerLink="/teachers">老师</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/students">学生</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="健康管理" nzIcon="heart" nzOpen>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/student/morning/checks">晨检</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/student/medical/exams">体检</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout class="content">
    <nz-header>
      <div class="left">
        <i
          class="trigger"
          nz-icon
          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          (click)="isCollapsed = !isCollapsed"
        ></i>
      </div>
      <div class="center">
        <app-self-header></app-self-header>
      </div>
      <div class="right">
        <app-self-avatar></app-self-avatar>
      </div>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>永康国科康复工程技术有限公司 ©2021</nz-footer>
  </nz-layout>
</nz-layout>
