<nz-avatar [nzText]="self.name" style="background-color:#87d068;" nz-dropdown [nzDropdownMenu]="menu" nzPlacement="bottomRight"></nz-avatar>

<nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu nzSelectable>
      <li nz-menu-item (click)="showUpdateSelfModal()">个人信息</li>
      <li nz-menu-item (click)="showUpdateSelfPasswordModal()">修改密码</li>
      <li nz-menu-divider></li>
      <li nz-menu-item nzDanger (click)="logout()">注销</li>
    </ul>
</nz-dropdown-menu>

<app-update-self-modal [(isVisible)]="isUpdateSelfModalVisible" (update)="onUpdateSelf($event)"></app-update-self-modal>
<app-update-self-password-modal [(isVisible)]="isUpdateSelfPasswordModalVisible"></app-update-self-password-modal>