<nz-breadcrumb>
  <nz-breadcrumb-item>幼儿园</nz-breadcrumb-item>
  <nz-breadcrumb-item>老师</nz-breadcrumb-item>
</nz-breadcrumb>
<div class="content">
  <div class="actionbar">
    <app-input label="关键字" [(value)]="query" (enter)="search()"></app-input>
    <app-class-select
      [(value)]="queryClassID"
      style="margin-left: 5px"
    ></app-class-select>
    <app-search-button
      style="margin-left: 10px"
      [loading]="loading"
      (search)="search()"
    ></app-search-button>

    <div style="float: right">
      <button nz-button (click)="new()">新建</button>
    </div>
  </div>
  <div class="table">
    <nz-table
      #basicTable
      nzSize="middle"
      nzShowPagination
      nzShowSizeChanger
      [nzFrontPagination]="false"
      [nzShowTotal]="totalTemplate"
      [(nzPageIndex)]="page"
      [(nzPageSize)]="pageSize"
      [nzTotal]="total"
      [nzLoading]="loading"
      (nzPageIndexChange)="onPageChange()"
      (nzPageSizeChange)="onPageChange()"
      [nzData]="teachers"
    >
      <thead>
        <tr>
          <th>ID</th>
          <th>姓名</th>
          <th>性别</th>
          <th>联系方式</th>
          <th>角色</th>
          <th>班级</th>
          <th>用户名</th>
          <th>创建时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.id }}</td>
          <td>{{ data.name }}</td>
          <td>
            <app-gender [gender]="data.gender"></app-gender>
          </td>
          <td>{{ data.phone }}</td>
          <td>
            <app-teacher-role-label [role]="data.role"></app-teacher-role-label>
          </td>
          <td>{{ data.class?.name }}</td>
          <td>{{ data.username }}</td>
          <td>
            <app-datetime-label [text]="data.created_at"></app-datetime-label>
          </td>
          <td>
            <a nz-dropdown [nzDropdownMenu]="menu">
              <i nz-icon nzType="menu"></i>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu nzSelectable>
                <li nz-menu-item (click)="showUpdateTeacherModal(data)">
                  编辑
                </li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <ng-template #totalTemplate let-range="range" let-total>
      总计：{{ total }}
    </ng-template>
  </div>
</div>

<app-new-teacher-modal
  [(isVisible)]="isNewTeacherModalVisible"
  (update)="search()"
></app-new-teacher-modal>
<app-update-teacher-modal
  [(isVisible)]="isUpdateTeacherModalVisible"
  [data]="updateTeacherData"
  (update)="findTeachers()"
></app-update-teacher-modal>
