:host {
  nz-breadcrumb {
    margin: 16px 0;
  }

  app-fullscreen{
    height: 100%;
    display: block;
    div.content {
      padding: 24px;
      background: #fff;
      height: 100%;
      width: 100%;

      div.location{

      }

      div.infos{
        margin-top: 20px;
        display: flex;
        flex-direction:row;
        height: 400px;

        nz-card.basic{
          min-width: 400px;
        }

        nz-card.classes{
          min-width: 160px;
          margin-left: 10px;
          margin-right: 10px;
          overflow-y: scroll;
          // height: 400px;
          nz-radio-group{
            text-align: left;
            label{
              display: block;
              margin-bottom: 10px;
            }
          }
        }

        nz-card.class{
          flex:1;
          width: 0px;
          app-g2-line{
            width: 100%;
            height: 300px;
          }
        }
      }

      div.graph{
        margin-top: 20px;
      }
    }
  }
}
