<nz-breadcrumb>
  <nz-breadcrumb-item>总览</nz-breadcrumb-item>
</nz-breadcrumb>

<div class="content" #content>
  <button class="fullscreen" nz-button nzSize="large" nzType="link" (click)="fullscreen()"><i nz-icon [nzType]="isFullscreen()?'fullscreen-exit':'fullscreen'" nzTheme="outline"></i></button>

  <nz-row>
    <nz-col [nzSpan]="8">
      <nz-statistic
        [nzValue]="(self.kindergarten?.number_of_teacher | number)!"
        nzTitle="老师数"
      ></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="8">
      <nz-statistic
        [nzValue]="(self.kindergarten?.number_of_student | number)!"
        nzTitle="学生数"
      ></nz-statistic>
    </nz-col>
  </nz-row>
</div>
