<nz-breadcrumb>
  <nz-breadcrumb-item>总览</nz-breadcrumb-item>
</nz-breadcrumb>

<app-fullscreen>
  <div class="content">
    <div class="title">
      <h2>儿童健康管理系统</h2>
    </div>
    <div class="header">
      <div class="location">
        <app-district-label [id]="self?.kindergarten?.district_id"></app-district-label>
        - {{self?.kindergarten?.name}}
      </div>

      <nz-input-group nzAddOnBefore="选择日期">
        <nz-date-picker  [(ngModel)]="date" nzSize="small" (ngModelChange)="onDateChange()" [nzAllowClear]="false"></nz-date-picker>
      </nz-input-group>
    </div>
    <div class="infos">
      <div class="basic card">
        <div>
          学生数：{{self?.kindergarten?.number_of_student| number}}
        </div>
        <nz-divider style="background-color: white"></nz-divider>
        <div style="display: flex;">
          <div>
            <div>
              出勤数：{{checkStat?.count| number}}
            </div>
            <div>
              缺勤数：{{self?.kindergarten?.number_of_student-checkStat?.count| number}}
            </div>  
          </div>
          <div style="flex:1"></div>
          <app-liquid *ngIf="checkStat && self" [percent]="checkStat?.count/self?.kindergarten?.number_of_student" [width]="0" [height]="0" style="text-align:right;width:100px;height:100px;"></app-liquid>

        </div>
        <nz-divider style="background-color: white"></nz-divider>
        <div style="display: flex;">
          <div>
            <div>
              晨检人数：{{checkStat?.count| number}}
            </div>
            <div>
              未晨检人数：{{self?.kindergarten?.number_of_student-checkStat?.count| number}}
            </div>  
          </div>
          <div style="flex:1"></div>
          <app-liquid *ngIf="checkStat && self" [percent]="checkStat?.count/self?.kindergarten?.number_of_student" [width]="0" [height]="0" style="text-align:right;width:100px;height:100px;"></app-liquid>

        </div>
      </div>

      <div class="classes card">
        <nz-radio-group nzButtonStyle="solid" [ngModel]="class?.id" (ngModelChange)="onClassChange($event)">
          <label nz-radio-button [nzValue]="c.id" *ngFor="let c of classes">{{c.name}}</label>
        </nz-radio-group>
      </div>

      <div class="class card">
        <div nz-row>
          <div nz-col [nzSpan]="8">
            学生数：{{class?.number_of_student|number}}
          </div>
          <div nz-col [nzSpan]="8">
            出勤数：{{class?.cstat?.count|number}}
          </div>
          <div nz-col [nzSpan]="8">
            出勤率：{{class?.cstat?.count/class?.number_of_student|percent}}
          </div>
        </div>
        <div nz-row style="margin-top: 10px;">
          <div nz-col [nzSpan]="8">
            晨检人数：{{class?.cstat?.count|number}}
          </div>
          <div nz-col [nzSpan]="8">
            体温正常人数：{{class?.cstat?.temperature_ok|number}}
          </div>
          <div nz-col [nzSpan]="8">
            体温异常人数：{{class?.cstat?.temperature_unusual|number}}
          </div>
        </div>
        <div nz-row style="margin-top: 10px;">
          <div nz-col [nzSpan]="8">
            手部异常人数：{{0|number}}
          </div>
          <div nz-col [nzSpan]="8">
            口部异常人数：{{0|number}}
          </div>
          <div nz-col [nzSpan]="8">
            眼部异常人数：{{0|number}}
          </div>
        </div>

        <div nz-row>
          <div nz-col [nzSpan]="6">
            <app-g2-pie title="体温检测" [data]="tempeatureData" style="height: 280px;"></app-g2-pie>
          </div>
        </div>
      </div>

    </div>

    <div class="graph">
      <div nz-row style="height: 100%;">
        <div nz-col [nzSpan]="6" style="height: 100%;">
          <app-g2-column title="体温检测" [data]="allTempeatureData" style="height:100%;"></app-g2-column>
        </div>
      </div>
    </div>

  </div>
</app-fullscreen>

<!-- <div class="content">

  <div>
    <app-district-label [id]="self?.kindergarten?.district_id"></app-district-label>
    - {{self.kindergarten?.name}}
  </div>

  <nz-row>
    <nz-col [nzSpan]="8">
      <nz-statistic
        [nzValue]="(self.kindergarten?.number_of_teacher | number)!"
        nzTitle="老师数"
      ></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="8">
      <nz-statistic
        [nzValue]="(self.kindergarten?.number_of_student | number)!"
        nzTitle="学生数"
      ></nz-statistic>
    </nz-col>
  </nz-row>
</div> -->
