:host {
  nz-breadcrumb {
    margin: 16px 0;
  }

  app-fullscreen{
    // height: 100%;
    display: block;
    overflow-x: auto;
    div.content {
      padding: 24px;
      background-color: gray;
      background-image: url(../../../assets/bigpicture/bigpicture.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      color:white;
      height: 100%;
      // height: 800px;
      // max-height: 100vh;
      width: 100%;
      min-width: 1200px;
      display: flex;
      flex-direction: column;

      div.title{
        text-align: center;
        background-image: url(../../../assets/bigpicture/title.jpg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: -20px;
        margin-bottom: 10px;
        h2{
          color:white;
          user-select: none;
          margin-top: 4px;
          margin-bottom: 4px;
        }
      }

      div.header{
        text-align: center;
        position: relative;
        div.location{
          position:absolute;
          left:0px;
          top:0px;
          color:#75F9FD;
          font-size:16px;
        }
        nz-input-group{
          margin-left: auto;
          margin-right: auto;
        }
      }

      div.infos{
        margin-top: 25px;
        display: flex;
        flex-direction:row;
        height: 420px;

        div.divider{
          height: 4px;
          width: 100%;
          background:linear-gradient(to right , #2AF1F8, #00000000);
          margin-top: 10px;
          margin-bottom: 10px;
        }

        div.card{
          border: solid 2px transparent;
          // border-radius: 2px;
          padding: 15px;

          border-image: url(../../../assets/bigpicture/card.jpg) 27 stretch;
          border-image-width: 8px;
          border-image-outset: 4px;

          svg.icon{
            height :24px;
            vertical-align:middle;
            margin-top:-4px;
            fill:black;
            path{
              fill:#75F9FD;
            }
          }
          span.student{
            color:#FFF38F;
          }
          span.check{
            color:#D32480;
          }
          span.unusual{
            color:#24D36E;
          }
        }

        div.basic{
          // min-width: 350px;
          font-size: 1.375rem;;
          width: 420px;
        }

        div.classes{
          width: 130px;
          margin-left: 10px;
          margin-right: 10px;
          overflow-y: auto;
          // height: 400px;
          nz-radio-group{
            text-align: left;
            label{
              display: block;
              margin-bottom: 10px;

              &.ant-radio-button-wrapper.ant-radio-button-wrapper-checked{
                background: #0C40F4;
                border-color: #0C40F4;
              }
            }
          }
        }

        div.class{
          flex:1;
          width: 0px;
          font-size: 1.375rem;
        }
      }

      div.graph{
        margin-top: 25px;
        flex:1;
      }
    }
  }
}
