<nz-breadcrumb>
  <nz-breadcrumb-item>幼儿园</nz-breadcrumb-item>
  <nz-breadcrumb-item>班级</nz-breadcrumb-item>
</nz-breadcrumb>
<div class="content">
  <div class="actionbar">
    <app-input label="关键字" [(value)]="query" (enter)="search()"></app-input>
    <app-search-button
      style="margin-left: 10px"
      [loading]="loading"
      (search)="search()"
    ></app-search-button>

    <div style="float: right">
      <button
        nz-button
        nz-dropdown
        [nzDropdownMenu]="newmenu"
        style="width: 64px"
      >
        <i nz-icon nzType="plus" nzTheme="outline"></i>
      </button>
      <nz-dropdown-menu #newmenu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="new()">新建</li>
          <li nz-menu-item (click)="load()">导入</li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </div>
  <div class="table">
    <nz-table
      #basicTable
      nzSize="middle"
      nzShowPagination
      nzShowSizeChanger
      [nzFrontPagination]="false"
      [nzShowTotal]="totalTemplate"
      [(nzPageIndex)]="page"
      [(nzPageSize)]="pageSize"
      [nzTotal]="total"
      [nzLoading]="loading"
      (nzPageIndexChange)="onPageChange()"
      (nzPageSizeChange)="onPageChange()"
      [nzData]="classes"
    >
      <thead>
        <tr>
          <th>序号</th>
          <th>班级名</th>
          <th>备注信息</th>
          <th>老师数</th>
          <th>学生数</th>
          <th>创建时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data; let i = index">
          <td>{{ i + 1 + (page - 1) * pageSize }}</td>
          <td>{{ data.name }}</td>
          <td>{{ data.remark }}</td>
          <td>{{ data.number_of_teacher | number }}</td>
          <td>{{ data.number_of_student | number }}</td>
          <td>
            <app-datetime-label [text]="data.created_at"></app-datetime-label>
          </td>
          <td>
            <a nz-dropdown [nzDropdownMenu]="menu">
              <i nz-icon nzType="menu"></i>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu nzSelectable>
                <li nz-menu-item (click)="showClassModal(data)">详情</li>
                <li nz-menu-item (click)="showUpdateClassModal(data)">编辑</li>
                <li nz-menu-divider></li>
                <li nz-menu-item nzDanger (click)="delete(data)">删除</li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <ng-template #totalTemplate let-range="range" let-total>
      总计：{{ total }}
    </ng-template>
  </div>
</div>

<app-new-class-modal
  [(isVisible)]="isNewClassModalVisible"
  (update)="search()"
></app-new-class-modal>
<app-update-class-modal
  [(isVisible)]="isUpdateClassModalVisible"
  [data]="updateClassData"
  (update)="findClasses()"
></app-update-class-modal>
<app-class-modal
  [(isVisible)]="isClassModalVisible"
  [data]="classData"
></app-class-modal>

<app-load-class-modal
  [(isVisible)]="isLoadClassModalVisible"
  (update)="search()"
></app-load-class-modal>

<app-delete-class-modal [(isVisible)]="isDeleteClassModalVisible" [data]="deleteClassData" (update)="findClasses()"></app-delete-class-modal>