<nz-modal
  nzTitle="修改密码"
  [(nzVisible)]="isVisible"
  (nzOnCancel)="close()"
  (nzOnOk)="onOk()"
  [nzOkLoading]="loading"
  [nzCancelLoading]="loading"
  [nzMaskClosable]="false"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="formGroup">
        <nz-form-item style="margin-bottom: 12px">
          <nz-form-control nzErrorTip="原密码不能为空">
            <nz-input-group nzAddOnBefore="原密码">
              <input
                type="text"
                nz-input
                formControlName="old"
                placeholder=""
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item style="margin-bottom: 12px">
          <nz-form-control nzErrorTip="新密码至少八位">
            <nz-input-group nzAddOnBefore="新密码">
              <input
                type="text"
                nz-input
                formControlName="new1"
                placeholder="至少八位"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item style="margin-bottom: 12px">
          <nz-form-control nzErrorTip="两次密码不一致">
            <nz-input-group nzAddOnBefore="新密码">
              <input
                type="text"
                nz-input
                formControlName="new2"
                placeholder="再次输入"
              />
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </form>
  </ng-container>
</nz-modal>