<nz-breadcrumb>
    <nz-breadcrumb-item>健康管理</nz-breadcrumb-item>
    <nz-breadcrumb-item>体测统计</nz-breadcrumb-item>
</nz-breadcrumb>

<div class="content">
    <div class="actionbar">
        <app-student-fitness-test-date-select [(value)]="queryDate" (initial)="search()"></app-student-fitness-test-date-select>

        <app-self-class-select [(value)]="queryClassID" style="margin-left: 5px;"></app-self-class-select>

        <app-search-button style="margin-left: 10px;" (search)="search()" [disabled]="!queryDate"></app-search-button>
    </div>

    <div nz-row>
        <div nz-col [nzSpan]="8">
            <nz-spin nzTip="加载中..." [nzSpinning]="statusLoading">
                <div id="statuspie" style="padding: 20px;"></div>
            </nz-spin>
        </div>
        <div nz-col [nzSpan]="8">
            <nz-spin nzTip="加载中..." [nzSpinning]="heightLoading">
                <div id="heightcolumn" style="padding: 20px;"></div>
            </nz-spin>
        </div>
        <div nz-col [nzSpan]="8">
            <nz-spin nzTip="加载中..." [nzSpinning]="weightLoading">
                <div id="weightcolumn" style="padding: 20px;"></div>
            </nz-spin>
        </div>
    </div>
    
    <div nz-row>
        <div nz-col [nzSpan]="8">
            <nz-spin nzTip="加载中..." [nzSpinning]="shuttlerun10loading">
                <div id="shuttlerun10pie" style="padding: 20px;"></div>
            </nz-spin>
        </div>
        <div nz-col [nzSpan]="8">
            <nz-spin nzTip="加载中..." [nzSpinning]="standinglongjumploading">
                <div id="standinglongjumppie" style="padding: 20px;"></div>
            </nz-spin>
        </div>
        <div nz-col [nzSpan]="8">
            <nz-spin nzTip="加载中..." [nzSpinning]="baseballthrowloading">
                <div id="baseballthrowpie" style="padding: 20px;"></div>
            </nz-spin>
        </div>
    </div>

    <div nz-row>
        <div nz-col [nzSpan]="8">
            <nz-spin nzTip="加载中..." [nzSpinning]="bunnyhoppingloading">
                <div id="bunnyhoppingpie" style="padding: 20px;"></div>
            </nz-spin>
        </div>
        <div nz-col [nzSpan]="8">
            <nz-spin nzTip="加载中..." [nzSpinning]="sitandreachloading">
                <div id="sitandreachpie" style="padding: 20px;"></div>
            </nz-spin>
        </div>
        <div nz-col [nzSpan]="8">
            <nz-spin nzTip="加载中..." [nzSpinning]="balancebeamloading">
                <div id="balancebeampie" style="padding: 20px;"></div>
            </nz-spin>
        </div>
    </div>
</div>