<nz-table
  #basicTable
  nzSize="small"
  nzShowPagination
  nzShowSizeChanger
  [nzFrontPagination]="false"
  [nzShowTotal]="totalTemplate"
  [(nzPageIndex)]="page"
  [(nzPageSize)]="pageSize"
  [nzTotal]="total"
  [nzLoading]="loading"
  (nzPageIndexChange)="onPageChange()"
  (nzPageSizeChange)="onPageChange()"
  [nzData]="exams"
>
  <thead>
    <tr>
      <th>序号</th>
      <th>日期</th>
      <th>班级</th>
      <th>学生</th>
      <th>性别</th>
      <th>身高</th>
      <th>体重</th>
      <th [nzFilters]="bmiFilters" [nzFilterFn]="true"
      (nzFilterChange)="onBMIFilterChanged($event)">BMI指数</th>
      <th [nzFilters]="healthFilters" [nzFilterFn]="true"
      (nzFilterChange)="onHemoglobinFilterChanged($event)">血红蛋白(Hb)</th>
      <th [nzFilters]="healthFilters" [nzFilterFn]="true"
      (nzFilterChange)="onALTFilterChanged($event)">谷丙转氨酶(ALT)</th>
      <th [nzFilters]="sightFilters" [nzFilterFn]="true"
      (nzFilterChange)="onSightFilterChanged($event)">视力(左/右)</th>
      <th>牙齿/龋齿</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data; let i = index">
      <td>{{ i + 1 + (page - 1) * pageSize }}</td>
      <td>
        <app-date-label [text]="data.date"></app-date-label>
      </td>
      <td>{{ data.student?.class?.name }}</td>
      <td class="b">
        <app-student-name [no]="data.student?.no" [name]="data.student?.name"></app-student-name>
      </td>
      <td>
        <app-gender [gender]="data.student?.gender"></app-gender>
      </td>
      <td>
        <app-height-label
          [height]="data.height"
          [status]="data.height_status"
          [updatedAt]="data.height_updated_at"
        ></app-height-label>
      </td>
      <td>
        <app-weight-label
          [weight]="data.weight"
          [status]="data.weight_status"
          [updatedAt]="data.weight_updated_at"
        ></app-weight-label>
      </td>
      <td>
        <app-bmi-label [bmi]="data.bmi" [updatedAt]="data.bmi_updated_at" [status]="data.bmi_status"></app-bmi-label>
      </td>
      <td>
        <app-hemoglobin-label
          [hemoglobin]="data.hemoglobin"
          [remark]="data.hemoglobin_remark"
          [status]="data.hemoglobin_status"
          [updatedAt]="data.hemoglobin_updated_at"
        ></app-hemoglobin-label>
      </td>
      <td>
        <app-alt-label
          [alt]="data.alt"
          [remark]="data.alt_remark"
          [status]="data.alt_status"
          [updatedAt]="data.alt_updated_at"
        ></app-alt-label>
      </td>
      <td>
        <app-sight-label
        [ls]="data.sight_l_s"
        [lc]="data.sight_l_c"
        [rs]="data.sight_r_s"
        [rc]="data.sight_r_c"
        [leftRemark]="data.sight_l_remark"
        [rightRemark]="data.sight_r_remark"
        [updatedAt]="data.sight_updated_at"
        [lsstatus]="data.sight_l_s_status"
        [rsstatus]="data.sight_r_s_status"
        [lcstatus]="data.sight_l_c_status"
        [rcstatus]="data.sight_r_c_status"
      ></app-sight-label>
      </td>
      <td>
        <app-tooth-label
          [tooth]="data.tooth_count"
          [caries]="data.tooth_caries_count"
          [remark]="data.tooth_remark"
          [updatedAt]="data.tooth_updated_at"
        ></app-tooth-label>
      </td>
      <td>
        <app-datetime-label [text]="data.created_at"></app-datetime-label>
      </td>
      <td>
        <a nz-dropdown [nzDropdownMenu]="menu">
          <i nz-icon nzType="menu"></i>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu nzSelectable>
            <li nz-menu-item (click)="showExamFormModal(data)">报告单</li>
          </ul>
        </nz-dropdown-menu>
      </td>
    </tr>
  </tbody>
</nz-table>
<ng-template #totalTemplate let-range="range" let-total>
  总计：{{ total }}
</ng-template>
