<span *ngIf="updated" style="font-weight: bold">
  {{ ls }} 
  <!-- <span *ngIf="leftRemark">({{ leftRemark }})</span> -->
  <app-up-or-down [status]="lsstatus"></app-up-or-down>
  / {{ lc }}
  <app-up-or-down [status]="lcstatus"></app-up-or-down>
  <nz-divider nzType="vertical"></nz-divider>
  {{ rs }}
  <!-- <span *ngIf="rightRemark">({{ rightRemark }})</span> -->
  <app-up-or-down [status]="rsstatus"></app-up-or-down>
  / {{ rc }}
  <app-up-or-down [status]="rcstatus"></app-up-or-down>
</span>
<nz-tag nzColor="warning" *ngIf="!updated">未检测</nz-tag>
