<nz-modal
  nzTitle="体测详情"
  [(nzVisible)]="isVisible"
  (nzOnCancel)="close()"
  [nzOkLoading]="loading"
  [nzCancelLoading]="loading"
  [nzMaskClosable]="true"
  [nzStyle]="{width:'600px'}"
>
  <ng-container *nzModalContent>
    <nz-descriptions nzTitle="">
      <nz-descriptions-item nzTitle="学生">{{data.student?.name}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="班级">{{data.student?.class?.name}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="年龄">
        <app-student-age [birthday]="data.student?.birthday"></app-student-age>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="性别">
        <app-gender [gender]="data.student?.gender"></app-gender>
      </nz-descriptions-item>
      <nz-descriptions-item nzTitle="总分">{{data.total_score}}</nz-descriptions-item>
    </nz-descriptions>
      <app-radar [data]="radarData"></app-radar>
  </ng-container>

  <ng-container *nzModalFooter>
    <button nz-button (click)="close()">关闭</button>
  </ng-container>
</nz-modal>